.input-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 48px;
    border: 1px solid var(--ion-color-borderPrimary);
    box-sizing: border-box;
    border-radius: 4px;
    margin: 20px 0px 5px 0px;
    border-radius: 4px;
    padding-left: 5px;
}

.unfocused {
    background-color: var(--ion-color-backgroundTertiary) !important;
}

.focused {
    background-color: var(--ion-color-light) !important;
}

.input-element {
    border: none;
    width: 90%;
    background-color: var(--ion-color-backgroundTertiary);

}

.input-element:focus-visible {
    outline: 0px !important;
}

.label {
    margin-top: 20px;
}

.input-image {
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.error {}