:root {
  --ion-color-primary: #002B3E;
  --ion-color-secondary: #3DC5E7;
  --ion-color-tertiary: #833293;
  --ion-color-success: #37B24D;
  --ion-color-warning: #F8AE3F;
  --ion-color-danger: #F64F77;
  --ion-color-medium: #333333;
  --ion-color-light: #FFFFFF;
  --ion-color-backgroundPrimary: #C6E4F1;
  --ion-color-backgroundSecondary: #F0F1F5;
  --ion-color-backgroundTertiary: #F3F6F9;
  --ion-color-borderPrimary: #E4E9F2;
  --ion-color-gray04: #7A7786;
  --ion-color-gray05: #8C8A97;
  --ion-font-family: 'Inter'
}