.tabsHeader {
    margin: 0px !important;
    border: none !important;
    border-radius: 0 !important;
    height: 210px;
    padding: 16px !important;
}

.cardFloating {
    position: 'relative' !important;
    top: -65px;
    margin: -50px 16px !important;
    min-height: 175px;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px !important;
}

.imageHeader {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(270deg) brightness(115%) contrast(100%)
}