@font-face {
    font-family: 'Inter Medium';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/Inter-Medium.ttf')format('truetype');
    font-display: fallback;
}

@font-face {
    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/Inter-Bold.ttf')format('truetype');
    font-display: fallback;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/Inter-Regular.ttf')format('truetype');
    font-display: fallback;
}

@font-face {
    font-family: 'Inter Light';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/Inter-Light.ttf')format('truetype');
    font-display: fallback;
}